development:
  adapter: postgresql
  encoding: unicode
  database: applift_dev
  pool: 5
  username: root

test:
  adapter: postgresql
  encoding: unicode
  database: applift_test
  pool: 5
  username: root